<div class="jumbotron jumbotron-fluid bg-warning my-0">
  <div class="container">
    <footer class="footer">
        <div class="row">
          <div class="col-md-9">
            <h5 class="text-dark">Footer Content</h5>
            <p class="text-dark-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col-md-3">
            <h5 class="text-dark">Links</h5>
            <ul>
              <li><a class="text-dark" href="#!">Link 1</a></li>
              <li><a class="text-dark" href="#!">Link 2</a></li>
              <li><a class="text-dark" href="#!">Link 3</a></li>
              <li><a class="text-dark" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      <div class="text-dark">
        <p class="">© 2014 Copyright Text</p>
      </div>
    </footer>
  </div>
</div>