<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
</head>

<body class="">
    <% include partials/nav %>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">About Us!</h1>

            <p class="lead">This is a simple hero unit, a simple jumbotron-style
                component for calling extra attention to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.
            </p>
            <ul class="list-unstyled">
                <li class="media">
                    <img src="https://via.placeholder.com/200x150.png?text=Test Image" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media my-4">
                        <img src="https://via.placeholder.com/200x150.png?text=Test Image" class="mr-3" alt="...">
                        <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
                <li class="media">
                        <img src="https://via.placeholder.com/200x150.png?text=Test Image" class="mr-3" alt="...">
                        <div class="media-body">
                        <h5 class="mt-0 mb-1">List-based media object</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>
            </ul>

            <p>Created and designed by Google, Material Design is a design language that combines the classic
                principles of successful design along with innovation and technology. Google's goal is to develop a
                system of design that allows for a unified user experience across all their products on any
                platform.</p>
            <p>The metaphor of material defines the relationship between space and motion. The idea is that the
                technology is inspired by paper and ink and is utilized to facilitate creativity and innovation.
                Surfaces and edges provide familiar visual cues that allow users to quickly understand the
                technology beyond the physical world. </p>
            <p>The metaphor of material defines the relationship between space and motion. The idea is that the
                technology is inspired by paper and ink and is utilized to facilitate creativity and innovation.
                Surfaces and edges provide familiar visual cues that allow users to quickly understand the
                technology beyond the physical world. </p>
        </div>
    </div>    
    <% include partials/footer %>

</body>

</html>