<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="addOrder">
    <% include partials/nav %>
        <div class="container">
            <div class="jumbotron ">
                <h1 class="display-5 ">
                    <%= title %>
                </h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.
                </p>
                <div class="pb-4">
                    <form id="myForm" class="col-sm-12 alert alert-warning border border-warning" action="">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fname">Customer Number</label>
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lname">Order Number</label>
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Order Date</label>
                                <input type="date" class="form-control" id="email" name="email" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phone">Required Date</label>
                                <input type="date" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="city">Shipped Date</label>
                                <input type="date" name="city" class="form-control" id="city">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="status">Status</label>
                                <select id="status" name="status" class="form-control">
                                    <option value="shipped">Shipped</option>
                                    <option value="hold">Cancelled</option>
                                    <option value="hold">Resolved</option>
                                    <option value="hold">On Hold</option>
                                    
                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <label for="comments">Comments</label>
                                <textarea class="form-control" name="comments" id="comments"></textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <button class="btn btn-warning" type="submit">Add Order</button>
                            </div>
                        </div>
                    </form>
                </div>
          
            </div>
        </div>
        <% include partials/footer %>
            <script src="/js.js"></script>
</body>

</html>