<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
</head>

<body class="addUser">
    <% include partials/nav %>
        <div class="container">
            <div class="jumbotron minH550">
                <h1 class="display-5 ">
                    <%= title %>
                </h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.
                </p>
                <ul>
                    <li class="nav-item ">
                        <a class="nav-link text-secondary" href="/orderlist">Order List </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-secondary" href="/addorder">Add Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="/customerlist">Customer List</a>
                    </li>
                </ul>

            </div>
        </div>
        <% include partials/footer %>
            <script src="/js.js"></script>
</body>

</html>